[submodule "external/rostools"]
	path = external/rostools
	url = https://github.com/Railway-Op-Sim/rostools.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "external/quazip"]
	path = external/quazip
	url = https://github.com/stachenov/quazip.git
