[submodule "external/rostools"]
	path = external/rostools
	url = https://github.com/Railway-Op-Sim/rostools.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "external/11Zip"]
	path = external/11Zip
	url = https://github.com/Sygmei/11Zip.git
