[submodule "external/11Zip"]
	path = external/11Zip
	url = https://github.com/artemis-beta/11Zip.git
[submodule "external/rostools"]
	path = external/rostools
	url = https://github.com/Railway-Op-Sim/rostools.git
